:root {
    --nav-bg-color: #0b2a35;
    --nav-item-bg-color: #00cdb0;
    --red-primary: #ff2a2d;
    --red-secondary: #d44943;
    --off-white: #efefdf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #fff;
}

.navbar {
    width: 40vh;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color: var(--nav-bg-color);
    transition: 0.4s;
}

.nav-link {
    font-size: 1.25em;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
    background-color: #ffffff26;
}

.dropdown-menu {
    background-color: #7952b3;
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #ffffff26;
}

.my-container {
    transition: 0.4s;
    border-radius: 25px;

}


/* for navbar */

.active-nav {
    margin-left: 0;
}


/* for main section */

.active-cont {
    margin-left: 250px;
}

#menu-btn {
    background-color: #7952b3;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}

.btn {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin-bottom: 5px;
    border-radius: 1.5rem;
    width: 200px;
    background-color: var(--nav-item-bg-color);
}

.btn-primary {
    background-color: var(--nav-item-bg-color);
    color: white;
}

.position-relative {
    position: relative;
}

.rounded-pill {
    border-radius: 50rem;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.start-100 {
    right: 0;
}

.translate-middle {
    top: 50%;
    transform: translateY(-50%);
}

.p-2 {
    padding: 0.5rem;
}

.bg-success {
    background-color: green;
}

.border {
    border: 1px solid;
}

.border-light {
    border-color: lightgray;
}

.rounded-circle {
    border-radius: 50%;
}

#menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    padding: 10px;
    background: #800080;
    ;
    border: none;
}

#menu-btn span {
    width: 60%;
    height: 1px;
    background: rgb(238, 238, 240);
    border-radius: 10px;
}

.btn i {
    font-size: 1.2rem;
    color: white;
    padding-right: 0.5rem;
}

.my-community {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5% 15%;
    border: solid 2px #fff;
    border-radius: 15%;
}

.my-community-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20%;
}

.my-community i {
    font-size: 40px;
}

/*  */



.btn-grp {
    background-color: 37756F;
    border: 1px solid lightcyan;
    margin: 5px;
}

.button-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
    padding: 10px;
}

.button-group button {
    width: 100%;
    height: 40px;
}

.end-note {
    border-radius: 5%;
    border: 1px solid white;
    text-align: center;
}

.end-note p {
    color: white;
    font-size: large;
}

.header-content {
    /* width: 60%; */
    display: flex;
    align-items: center;
    gap: 40px;

}

.header-content i {
    font-size: 40px;
}

.header-content #header-text {
    color: red;
}

.main-section {
    /* width: 100%; */
    padding: 40px;
    background-color: white;
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    border: 2px solid green;
    border-radius: 25px;

    /* flex-direction: column; */

}

.main-body {
    width: 20vw;
}

.menu-options div {
    height: 40px;
}

.menu-options {

    margin-top: 50px;
    margin-bottom: 50px;
}

.menu-options-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    border: 2px solid rgb(137, 136, 136);
    background-color: grey;
    color: aliceblue;
    margin-bottom: 5px;
    border-radius: 25px;
    box-shadow: -12px 13px 14px -1px rgba(181, 176, 176, 0.78);


}

.main-content-display {
    padding: 10px;
    border: 3px solid #1B3B37;
    border-radius: 25px;

}

.main-content-display-item {
    border: 3px solid #4DB6AC;
    margin-bottom: 15px;
    border-radius: 25px;

}

.main-content-display-item-list {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px;
    /* justify-content: center; */
}

.main-content-display-text {
    align-self: center;
    width: 80%;
}

.main-content-display-item-img {
    width: 400px;
    border: 3px solid #4DB6AC;
    border-radius: 25px;

}

.main-content-display-item-img img {
    width: 100%;
    border-radius: 25px;

}

.main-content-display-item-interaction {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: lightgray;
    border: 2px solid lightgreen;
    border-radius: 25px;
    margin-bottom: 10px;


}

.main-content-write {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: lightgray;
    border: 2px solid lightgreen;
    align-items: center;
    padding: 10px;
    margin-top: 8px;
    width: 100%;
}

.main-content span {
    width: 8vw;
}

.main-content-write i {
    border: 2px solid lightseagreen;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 30px;
}

.icon-bar i {
    border: 2px solid lightgreen;
    border-radius: 50%;
    /* color: #4DB6AC; */
}

.main-content {
    flex-direction: column;
    flex: 1;
}

.main-content div {
    width: 100%;
}

.icon-bar {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    border: 1px solid lightseagreen;
    border-radius: 25px;
    padding: 10px;
    gap: 10px;
    box-shadow: -12px 13px 14px -1px rgba(181, 176, 176, 0.78);
    -webkit-box-shadow: -12px 13px 14px -1px rgba(181, 176, 176, 0.78);
    -moz-box-shadow: -12px 13px 14px -1px rgba(181, 176, 176, 0.78);
}

.icon-bar i {
    font-size: 50px;
    color: red;
}